body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F3EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 906px;
    height: 654px;
    background: #F3EFEF;
}

.geograph, .le, .text {
    position: absolute;
    font-family: 'Inter';
    font-weight: 600;
}

.geograph {
    left: 135px;
    top: 5px;
    font-size: 60px;
    color: #067E00;
}

.le {
    left: 650px;
    top: 5px;
    font-size: 60px;
    color: #272DA3;
}

.line {
    position: absolute;
    width: 906px;
    height: 0;
    top: 85px;
    border: 3px solid #000000;
    transform: rotate(-0.06deg);
}

.settings, .stats-up, .camera-outline {
    position: absolute;
    width: 48px;
    height: 48px;
}

.settings {
    left: 850px;
    top: 25px;
}

.stats-up {
    left: 790px;
    top: 25px;
}

.camera-1 {
    left: 650px;
    top: 200px;
}

.camera-2 {
    left: 210px;
    top: 200px;
}

.camera-3 {
    left: 210px;
    top: 400px;
}

.camera-4 {
    left: 650px;
    top: 400px;
}

.vector {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 16.67%;
    background: #ACAAAA;
}

.rectangle {
    box-sizing: border-box;
    position: absolute;
    background: #D9D9D9;
    border: 3px solid #6B6B6B;
    border-radius: 20px;
}

.rectangle-4 {
    width: 300px;
    height: 150px;
    left: 450px;
    top: 450px;
}

.rectangle-2 {
    width: 300px;
    height: 150px;
    left: 450px;
    top: 150px;
}

.rectangle-12 {
    width: 300px;
    height: 150px;
    left: 150px;
    top: 150px;
}

.rectangle-5 {
    width: 300px;
    height: 150px;
    left: 150px;
    top: 450px;
}

.rectangle-7, .rectangle-8, .rectangle-9, .rectangle-11 {
    background: linear-gradient(0deg, #464646, #464646), linear-gradient(0deg, #464646, #464646), linear-gradient(0deg, #464646, #464646), #464646;
    border: 3px solid #6B6B6B;
    border-radius: 0px 0px 20px 20px;
}

.rectangle-7 {
    width: 300px;
    height: 50px;
    left: 450px;
    top: 280px;
}

.rectangle-8 {
    width: 300px;
    height: 50px;
    left: 150px;
    top: 580px;
}

.rectangle-9 {
    width: 300px;
    height: 50px;
    left: 450px;
    top: 580px;
}

.rectangle-11 {
    width: 300px;
    height: 50px;
    left: 150px;
    top: 280px;
}

.text {
    font-size: 24px;
    color: #D9D9D9;
}

.juego-2 {
    width: 102px;
    left: 510px;
    top: 290px;
}

.juego-3 {
    width: 98px;
    left: 210px;
    top: 600px;
}

.juego-4 {
    width: 96px;
    left: 510px;
    top: 600px;
}

.top-10 {
    width: 94px;
    left: 210px;
    top: 290px;
}

.menu-fill {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 12px;
    top: 25px;
}

.group, .group .vector {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.group .vector {
    left: 10.42%;
    right: 10.42%;
    top: 14.58%;
    bottom: 14.58%;
    background: #2E2C2C;
}