.menu{
    display: flex;
    justify-content: space-between;
}

.juntitos{
    display: flex;
}

.iconos{
    display: flex;
}

.box1{
    display: flex;
}

.box2{
    display: flex;
}

.box3{
    display: flex;
}

.box4{
    display: flex;
}