body{
    font-family: "Inter" , sans-serif;
    background-color: #F3EFEF;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 635px;
    width: 50%;
    background-color: #272DA3;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 635px;
    width: 50%;
    gap: 40px;
}

.Todo{
    display: flex;
}

a{
    text-decoration: none;
}

.arriba{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 60px;
    font-weight: 650;
    color: #fff; 
}

h3{
    font-size: 30px;
    margin: 50px;
    font-weight: 500;
    color: #fff;
}

h4{
    font-size: 30px;
    margin: 50px;
    font-weight: 500;
    color: #272DA3;
}

.create{
    color: #272DA3;
    font-size: 60px;
    font-weight: 650;
}

.espacio{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.sisi{
    background-color: #C5C5C5;
    font-family: "Montserrat", sans-serif;
    height: 50px;
    font-size: 30px;
    border-radius: 8px;
    border: 1px solid #C5C5C5;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    border: 2px solid #C5C5C5;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    color: blue;
    font-size: 25px;
    font-weight: 600;
}

.junto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.den{
    display: flex;
    gap: 10px;
}

.dont{
    font-size: 20px;
    font-weight: 600;
}

.log{
    font-size: 20px;
    font-weight: 600;
}  

.log:hover{
    text-decoration: underline;
}

.flecha{
    height: 30px;
    width: 30px;
}

.back{
    color: #fff;
    font-size: 20px;
}

.back:hover{
    text-decoration: underline;
}

.vuelta{
    display: flex;
    position: absolute;
    top: 40px;
    right: 10px;
    gap: 5px;
}